@charset "UTF-8";

/*
    *实用软件：VS2015
    *制作时间：2015-11-07
    *作者：王勇
    *用途：个人中心 >> 修改密码
    *
*/
.ComplaintsTL{
    width:300px;
    height:50px;
    font-size:16px;
    font-weight:bold;
    line-height:50px;
    _position:relative;
    _left:20px;
}


.ChangePassword{
    width:496px;
    height:auto;
    margin-top:10px;
    background:#fff;
    _position:relative;
    _left:20px;
    padding:30px 242px 95px;
    _padding:30px 230px 95px;
}
.publidTop{
    width:520px;
	height:52px;
	position:relative;
    _position:relative;
	top:0px;
    _top:0px;
}
.TopRHuiB{
	width:460px;
	height:24px;
    _height:24px;
	background:url(../../images/SecurityCenter/grayBs.jpg) repeat-x left center;
	position:relative;
	z-index:2;
    _position:relative;
    top:0px;
	_z-index:2;
}
.TopRLanB{
	width:24px;
	height:2px;
    _height:2px;
    _overflow:hidden;
	background:#7abd54;
	position:absolute;
    _position:absolute;
	top:11px;
    _top:11px;
	z-index:10;
	_z-index:10;
}
.ShopCartTopROne{
	width:80px;
	height:24px;
	position:relative;
	z-index:12;
	text-align:center;
    _position:absolute;
	_z-index:12;
}
.ShopCartTopROne span{
	width:24px;
	height:24px;
	line-height:24px;
	display:block;
	font-size:12px;
	font-weight:bold;
	color:#fff;
}
.publidTop h3{
	width:80px;
	height:32px;
	line-height:32px;
    font-size:12px;
    text-align:center;
    font-family:SimSun;
}
.publidTop h3.posOne{
    position:relative;
    top:0px;
    left:0px;
}
.publidTop h3.posTwo{
    position:relative;
    top:0px;
    left:139px;
}
.publidTop h3.posThree{
    position:relative;
    top:0px;
    left:279px;
}
.publidTop h3.NoSel {
    color:#bfbfbf;
}
.PosiO{
	top:0px;
    _top:0px;
	left:-30px;
}
.PosiT{
	top:-24px;
    _top:0px;
	left:190px;
}
.PosiTH{
	top:-49px;
    _top:0px;
	left:410px;
}
.Lan{
	background:url(../../images/SecurityCenter/green.png) no-repeat center;
}
.Hui{
	background:url(../../images/SecurityCenter/gray.png) no-repeat center;
}
.widTH {
    width:22px;
    height:2px;
}
.SeccesPic {
    background:url(../../images/SecurityCenter/seccessPic.png) no-repeat center;
}



/*------------------publidTop END------------------------*/


.CPMain{
    width:496px;
    height:auto;
    margin-top:60px;
    position:relative;
}
.CPMain p.dw{
    
}
.CPMainYZ{
    width:436px; 
    height:36px;
    padding-left:60px;
    margin-bottom:25px;
    _overflow:hidden;
    position:relative;
    z-index:5;
}
.CPMainYZ span{
    width:115px;
    height:36px;
    line-height:36px;
    text-align:right;
    font-size:14px;
    position:relative;
}
.CPMainYZ span.widn{
    width:496px;
    height:100px;
    text-align:center;
}
.CPMainYZ span.widn i{
    font-size:16px;
}
.CPMainYZm{
    width:200px;
    height:36px;
    position:relative;
}
.pj
{
    width:200px;
    height:36px;
    cursor:pointer;
    }
.pj input
{
    width:153px;
    height:34px;
    padding-left:10px;
    line-height:34px;
    float:left;
    color:#666666;
    border:1px solid #dddddd;
    border-right:none;
    font-size:12px;
    cursor:pointer;
    }
.pj em
{
    width:35px;
    height:34px;
    float:left;
    display:block;
    border:1px solid #dddddd;
    border-left:none;
    }
.solid_b_btn
{
    background:url(../../images/myOrder/solid_b_btn.png) no-repeat center;
    }
.solid_t_btn
{
    background:url(../../images/myOrder/solid_t_btn.png) no-repeat center;
    }
.pjMation
{
    width:198px;
    height:auto;
    border:1px solid #dddddd; 
    border-top:none;
    position:relative;
    z-index:10;
    margin-top:36px;
    _margin-top:0px;
    background:#fff;
    }
.pjMation a
{
    width:188px;
    height:34px;
    display:block;
    line-height:34px;
    padding-left:10px;
    font-family:"SimSun";
    }
.pjMation a:hover,.jyMation a:hover,.xialaInformationM a:hover
{
    background:#deedff;
    color:#888888;
    text-decoration:none;
    }

/*--------------------CPMainYZ--------------------*/

.CPMainYZ h3.YBding{
    width:188px;
    height:34px;
    line-height:34px;
    border:1px dashed #e5e5e5;
    background:#f3f3f3;
    font-size:14px;
    font-weight:bold;
    padding-left:10px;
}

.CPMainYZ input.PhonYZM{
    width:188px;
    height:34px;
    line-height:34px;
    padding-left:10px;
    margin-right:10px;
    font-size:12px;
    position:relative;
}
.CPMainYZ input.GetYZM{
    width:110px;
    height:36px;
    display:block;
    line-height:36px;
    font-size:14px;
    text-align:center;
    cursor:pointer;
    background:url(../../images/SecurityCenter/huoquYZM.png) no-repeat center;
}
.CPMainYZ a:hover{
    color:#333;
}
.ChangePassword input.subMit{
    width:120px;
    height:32px;
    font-size:14px;
    line-height:30px;
    color:#fff;
    text-align:center;
    margin-top:5px;
    margin-left:175px;
    cursor:pointer;
    background:url(../../images/SecurityCenter/bdingPonSure.png) no-repeat center;
}
.ChangePassword input.subMit:hover{
    background:url(../../images/SecurityCenter/bdingPonSureM.png) no-repeat center;
}

/*
    *以上是成功之前的操作样式
    *
    *
    *以下是成功页面的样式
*/

.EvaSeccesT{
    width:180px;
    height:55px;
    padding:5px 0px 10px 110px;
    margin:80px auto;
    background:url(../../images/Collect_Evaluation_Complaints/EvaluationRight.png) no-repeat left center;
}
.EvaSeccesT h3{
    font-size:26px;
    line-height:32px;
}
.EvaSeccesT a{

    line-height:20px;
    display:block;
    margin-top:5px;
}
.EvaSeccesT em{

    line-height:20px;
    display:block;
    margin-top:5px;
}
.EvaSeccesT a:hover{
    text-decoration:underline;
}
.EvaSeccesTs{
    width:235px;
    height:55px;
    padding:5px 0px 10px 110px;
    margin:80px auto;
    background:url(../../images/Collect_Evaluation_Complaints/EvaluationRight.png) no-repeat left center;
}
.EvaSeccesTs h3{
    font-size:26px;
    line-height:32px;
}
.EvaSeccesTs p a{
    width:8px;
    height:20px;
    line-height:20px;
    margin-top:5px;
}
.EvaSeccesTs p{
    margin-top:8px;
}
.EvaSeccesTs p a:hover{
    text-decoration:underline;
}